keywords/feeders*
.vscode
.vscode/settings.json
node_modules/
out/
.worktrees/
/.antigravity

# Ensure bundled SumatraPDF binary is tracked
!bin/SumatraPDF.exe
bin/SumatraPDF-settings.txt
/bin/sumatrapdfcache
*.vsix
pydyna/
