.github
.gitignore
.claude
.vscode
test
src/**
out/**/*.map
keywords/**
!keywords/field_data.json
!keywords/field_data_zh.json
**/*.ipynb
*.vsix
.antigravity
.worktrees
docs
LS-DYNA Manuals
bin
pydyna/**
AGENTS.md
GEMINI.md
images/
!images/extension-icon.png
!images/activitybar-icon.svg
!images/ls.svg
