.github
.gitignore
.claude
.vscode
test
src/**
out/**/*.map
keywords/**
!keywords/field_data.json
!keywords/field_data_zh.json
**/*.ipynb
*.vsix
.antigravity
.worktrees
docs
LS-DYNA Manuals
bin
pydyna/**
AGENTS.md
GEMINI.md
images/
!images/LS_DYNA_geo_metro.png
!images/lsdyna.png
!images/ls.svg
